[submodule "angelsblog/themes/dream-plus"]
	path = angelsblog/themes/dream-plus
	url = https://github.com/UtkarshVerma/hugo-dream-plus
[submodule "myblog/themes/dream-plus"]
	path = myblog/themes/dream-plus
	url = https://github.com/UtkarshVerma/hugo-dream-plus
[submodule "dreamPlusBlog/themes/dream-plus"]
	path = dreamPlusBlog/themes/dream-plus
	url = https://github.com/UtkarshVerma/hugo-dream-plus
[submodule "dreamPlus_Blog/themes/dream-plus"]
	path = dreamPlus_Blog/themes/dream-plus
	url = https://github.com/UtkarshVerma/hugo-dream-plus
[submodule "new_blog/themes/dream-plus"]
	path = new_blog/themes/dream-plus
	url = https://github.com/UtkarshVerma/hugo-dream-plus
[submodule "dreamPlus/themes/dream-plus"]
	path = dreamPlus/themes/dream-plus
	url = https://github.com/UtkarshVerma/hugo-dream-plus
